name: Web page
on:
  push:
    branches: ["main"]
  workflow_dispatch:  
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: pages
  cancel-in-progress: false
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Validate HTML syntax
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: demo-github-actions/dist/
  deploy:
    needs: [test]
    environment:
      name: github-pages
      url: ${{ steps.deploymentId.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "Hello World!"
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: "./demo-github-actions/dist/"
      - name: Deployment of web page
        id: deploymentID
        uses: actions/deploy-pages@v2




           